// $dark--grey: #343A40;
// $white: #FFFFFF;
// $light--grey:#F8F9FA;
// $blue: #1F87D1;
// $grey: #F0F1F2;


.footer {
  background-color: $dark--grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 20%;
  // position: sticky;
  text-align: center;
  bottom: 0;
  left: 0;
  color: $grey;
  padding: 3em 0 3em 0;
  margin-top: 6em;



  a {
    color: $blue;

  }

  &__links {
    padding: 4em 0 2em 0;
  }

  &__links a {
    padding: 0 1em;
  }


  // &__social {
  //   color: ;
  // }
}