.menu__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .menu__card {
        width: 40%;

        .menu__item {
            display: flex;
            justify-content: space-between;
        }
    }
}

.menu__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .menu__card {
        width: 40%;

        .menu__item {
            display: flex;
            justify-content: space-between;
        }
    }

    <<<<<<< HEAD
}

=======<<<<<<< HEAD
}


>>>>>>>39b785ea83a4e8367ec74e511fe2f2d8223e8604 .menu__image {
    width: 90%;
    padding-left: 5%;
    padding-top: 5%;
    <<<<<<< HEAD margin-bottom: -12%;
    z-index: 1;
    =======margin-bottom: -1%;
    =======>>>>>>>dfd5ffbb1858a58873b93a2b3d74ea4ad2bedefa>>>>>>>39b785ea83a4e8367ec74e511fe2f2d8223e8604
}