.menu__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: space-between;
    }

    .menu__card {
        width: 30%;

        @media (max-width: 768px) {
            width: 100%;

        }

        .menu__item {
            display: flex;
            justify-content: space-between;
        }
    }
}

.menu__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .menu__card {
        width: 40%;

        .menu__item {
            display: flex;
            justify-content: space-between;
        }
    }


}




.menu__image {
    width: 90%;
    padding-left: 5%;
    padding-top: 5%;
    margin-bottom: -12%;
    z-index: 1;

    @media (max-width: 768px) {
        margin-bottom: -25%;

    }
}