@import 'components/variables';
@import 'components/navigation';
@import 'components/footer';
@import 'components/container';
@import 'components/menu';
@import 'components/story';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}